<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script 
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Dgerati's todolist</title>
    <link rel="shortcut icon" type="image/x-icon" href="todo.ico"/>

</head>
<body>
    <header>
        <h1>todo<span>list</span></h1>
        <h2>A simple todo list app built for Automation Team.</h2>
    </header>
      
    <section class="form">
        <input type="text" id="todoInput" placeholder="Insert your task here..." autofocus>
        <button type="button" id="todoInputBTN" class="btn btn-secondary btn-lg mt-3 centerX">Insert Todo</button>
    </section>
    
    <ul class="list">
    </ul> 
    
    <script type="text/javascript" src="app.js"></script>
</body>